In [19]:
import duckdb
import pandas as pd

In [20]:
sql_query = '''
show tables
'''

with duckdb.connect('data/BLOCKCHAIN.db') as con:
    display(con.sql(sql_query).df())

                            name
0        optimism_sepolia_blocks
1          optimism_sepolia_logs
2  optimism_sepolia_transactions

In [21]:
sql_query_import_1 = '''
CREATE OR REPLACE TABLE optimism_sepolia_logs AS
SELECT *
FROM read_parquet(
  'raw/logs/*.parquet'
  )
'''

sql_query_import_2 = '''
CREATE OR REPLACE TABLE optimism_sepolia_blocks AS
SELECT *
FROM read_parquet(
  'raw/blocks/*.parquet'
  )
'''

sql_query_import_3 = '''
CREATE OR REPLACE TABLE optimism_sepolia_transactions AS
SELECT *
FROM read_parquet(
  'raw/transactions/*.parquet'
  )
'''

with duckdb.connect('data/BLOCKCHAIN.db') as con:
  con.sql(sql_query_import_1)
  con.sql(sql_query_import_2)
  con.sql(sql_query_import_3)

In [22]:
sql_query = '''
show tables
'''

with duckdb.connect('data/BLOCKCHAIN.db') as con:
    display(con.sql(sql_query).df())

                            name
0        optimism_sepolia_blocks
1          optimism_sepolia_logs
2  optimism_sepolia_transactions

In [17]:
sql_query = '''
DROP TABLE IF EXISTS optimism_sepolia_logs
'''

with duckdb.connect('data/BLOCKCHAIN.db') as con:
    con.sql(sql_query)

In [8]:
sql_query = '''
SELECT count(*) count_logs
FROM optimism_sepolia_logs
'''

sql_query2 = '''
SELECT count(*) count_transactions
FROM optimism_sepolia_transactions
'''

sql_query2 = '''
SELECT count(*) count_blocks
FROM optimism_sepolia_blocks
'''

with duckdb.connect('data/BLOCKCHAIN.db') as con:
    display(con.sql(sql_query).df())
    display(con.sql(sql_query2).df())
    display(con.sql(sql_query3).df())

   count_logs
0       12312

   count_transactions
0                4143