In [18]:
import duckdb
import pandas as pd

In [22]:
sql_query = '''
show tables
'''

with duckdb.connect('data/BLOCKCHAIN.db') as con:
    display(con.sql(sql_query).df())

Empty DataFrame
Columns: [name]
Index: []

In [26]:
sql_query_import_1 = '''
CREATE OR REPLACE TABLE optimism-sepolia-logs AS
SELECT *
FROM read_parquet(
  'C:/Users/chris/Desktop/Cryo_Chainstack/raw/logs/network_11155420__logs__16488203_to_16488302.parquet'
  )
'''

with duckdb.connect('data/BLOCKCHAIN.db') as con:
  con.sql(sql_query_import_1)

In [27]:
sql_query = '''
show tables
'''

with duckdb.connect('data/BLOCKCHAIN.db') as con:
    display(con.sql(sql_query).df())

           name
0  network_logs